/**app.wxss**/

/* 去除点击时的蓝色填充效果 */
page {
  -webkit-tap-highlight-color: transparent;
}

view,
text,
image,
button,
navigator {
  -webkit-tap-highlight-color: transparent;
}

page {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

view,
text,
image,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
picker,
picker-view,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video,
map,
canvas,
open-data,
web-view,
ad {
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
