<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxurywatch.mapper.ProductMapper">

    <!-- 分页查询商品列表 -->
    <select id="selectProductPage" resultType="com.luxurywatch.entity.Product">
        SELECT * FROM product
        WHERE is_deleted = 0
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="brand != null and brand != ''">
            AND brand LIKE CONCAT('%', #{brand}, '%')
        </if>
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY sort ASC, create_time DESC
    </select>

</mapper>
